# Environment variables
.env
fix_libdevice.py
libdevice.10.bc
dataset/
models/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
cred.txt
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Models and outputs
models/*.keras
models/*.tar.gz
output/

# Jupyter Notebook
.ipynb_checkpoints

# AWS
.aws/

# IDE
.vscode/
.idea/
.env.example